{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} CinemaWiki | An Encyclopedia of Movies, Celebrities, Technicians{% endblock %}</title>
  {% block seo_meta %}{% endblock %}
	<!-- Latest compiled and minified CSS -->
  <link rel="canonical" href="//{{ request.get_host }}{{ request.path }}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{%static 'css/main.css' %}">
</head>
<body>
<!-- navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="col-md-2">
          <!-- <img src="/static/images/cinema-wiki.png"> -->
          <a class="navbar-brand" href="/">CinemaWiki</a>
        </div>
        <div class="col-md-10">
          <form class="search-bar">
              <input type="text" name="query" placeholder="serach for movies, actors, songs, technicians, etc. " required class="search">
              <button type="submit">Go</button>
            </form>
        </div>
      </div>
    </nav>
<!-- end -->
  <div class="container-fluid menu-bar">
  	<div class="google-text-links">
      {% block google_ads %}
        google text links
      {% endblock %}
    </div>
    {% block content %}
    {% endblock %}
  	<div class="col-md-4 advertisement">
      {% block advertisement %}
      {% endblock %}
		</div>
  </div>
  <footer class="footer">
    <div class="container-fluid">
      <nav>
        <ul>
        <li><a href="{% url 'wiki:about_us' %}" target="_blank">About us</a></li>
        <li><a href="{% url 'wiki:terms_conditions' %}" target="_blank">Terms and conditions</a></li>
        <li><a href="{% url 'wiki:privacy_policy' %}" target="_blank">Privacy policy</a></li>
        <li><a href="{% url 'wiki:contact_us' %}" target="_blank">Contact Us</a></li>
        <li><a href="#" target="_blank">Advertise with us</a></li>
        </ul>
      </nav>
      <p class="text-muted text-center">&copy; 2016 cinema-wiki.herokuapp.com </p>
    </div>
  </footer>
<!-- javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% block javascript %}
{% endblock %}

</body>
</html>