{% extends "base.html" %}
{% block content %}
  <div class="col-md-8 movies">
    {% for movie in movie_list %}
      <!-- movie -->
      <div class="col-md-4 movie">
        <a href="{% url 'wiki:movie' slug=movie.slug %}">
        <img src="{{ movie.image }}"></a>
      </div>
    {% endfor %}
      <!-- Load More -->
    {% if page_obj.has_next %}  
      <div class="col-md-12 load-more">
        <a id="load_more" href="/?page={{ page_obj.next_page_number }}" pend="{{ paginator.num_pages }}" pcurrent="{{ page_obj.next_page_number }}" class="btn btn-block"> + MORE </a>
      </div>
    {% endif %}
    </div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $("#load_more").click(function(e){
    $this = $(this);
    e.preventDefault();
    pend = parseInt($(this).attr("pend"));
    current = parseInt($(this).attr("pcurrent"))
    $.get($(this).attr("href"), function(response){
      $this.closest("div").before(response);
      s = $this.attr("href")
      s = s.replace(s.substring(s.indexOf("=")+1, s.length), current+1); 
      $this.attr("href", s);
      $(this).attr("pcurrent", current+1);
      if(current == pend){
        $this.closest("div").hide();
      }
    })

  });
</script>
<!-- seo -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'wiki:search' %}?q={query}",
    "query-input": "required name=query"
  }
}
</script>
{% endblock %}