{% extends "base.html" %}
{% load static %}
{% block title %} {{ movie }} Details | Star casting | Team {% endblock %}
{% block seo_meta %}
  <meta name="keywords" content="{{ movie }}, cast and crew, star cast, {{ movie.language }} movie {{ movie }} actor, actress, director, producer, {{ movie }} music director, singers, playback singers, movie news, crew members">
  <meta name="description" content="{{ movie.about }}">
  <meta name="title" content="Cinema-Wiki">

  <!-- twitter -->
  <meta name="twitter:card" content="Cinema-Wiki" />
  <meta name="twitter:site" content="@CinemaWiki" />
  <meta name="twitter:creator" content="@CinemaWiki" />
  
  <!--/end  -->
 
  <!-- facebook -->
  <meta property="og:description" content="{{ movie }}, cast and crew, star cast, {{ movie.language }} movie {{ movie }} actor, actress, director, producer, {{ movie }} music director, singers, playback singers, movie news, crew members" />
  <meta property="og:image" content="{{ request.get_host }}{%static 'images/favicon.ico' %}" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Cinema-Wiki" />
  <meta name="description" content="{{ movie.about }}">
  <meta property="og:image" content="{{ request.get_host }}{%static 'images/favicon.ico' %}" />
  <!--/end  -->
{% endblock %}
{% block content %}
	<div class="col-md-8">
          <!-- carousel -->
          <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
            	{% for image in movie.images %}
                <div class="{% if forloop.first %}active{% endif %} item">
                    <img src="{{ image.url }}" alt="{{ image.alternate_text }}">
                </div>
              {% empty %}
              	No data found
              {% endfor %}
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
          <!-- end -->
          <div class="movie-details">
            <table class="table table-bordered">
              <tbody>
                <tr><th colspan="4"><h1>{{ movie|title }} Movie Details</h1></th></tr>
                <tr>
                  <th>Title</th>
                  <td>{{ movie|title }}</td>
                  <th>Realsed On</th>
                  <td>{{ movie.released_on }}</td>
                </tr>
                <tr>
                  <th>Language</th>
                  <td>{{ movie.language }}</td>
                  <th>Country</th>
                  <td>{{ movie.country }}</td>
                </tr>
                <tr>
                  <th>Budget</th>
                  <td>{{ movie.budget }}</td>
                  <th>Box office</th>
                  <td>{{ movie.box_office }}</td>
                </tr>
                <tr>
                  <th>Rating</th>
                  <td>{{ movie.rating }}</td>
                  <th>Movie Genre</th>
                  <td>{{ movie.genre }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="actors_technicians">
          	<div id="movie-team-title" class="movie-team song-lirics">
          		<h2>{{ movie|title }} movie star casting & team </h2>
          	</div>
          	<div class="movie-team">
          		{% for member in movie.team.all %}
          		<!-- team member -->
          		<div class="single-effect">
	              <figure class="team-member">
	                <a href="{% url 'wiki:person' slug=member.slug %}"><img src="{{ member.image }}" alt="{{ member.alternate_text }}"></a>
	                <figcaption class="view-caption">
	                  <a href="{% url 'wiki:person' slug=member.slug %}">
                      <div class="info">
  	                    <h4>{{ member }}</h4> 
  	                    <p>{{ member }}</p>
  	                  </div>
                    </a>
	                </figcaption>            
	              </figure>
	            </div>
	            {% empty %}
	            	No data found
	            {% endfor %}
	          </div>
          	</div>
        	<div class="movie-songs">
          	<div id="title" class="movie-team song-lirics">
          		<h3> {{ movie|title }} movie Songs </h3>
          	</div>
          	<div class="movie-team">
          		{% for song in movie.related_songs.all %}
          		<!-- song -->
          		<div class="song-effect">
	              <figure class="team-member">
	                <a href="{% url 'wiki:song' slug=song.slug movie_slug=movie.slug %}"><img src="{{ song.image }}" alt="{{ song }} song in movie }}"></a>
	                <figcaption class="view-caption">
	                  <div class="info">
	                    <p><a href="{% url 'wiki:song' slug=song.slug movie_slug=movie.slug %}">View {{ song }} Song</a></p>
	                  </div>
	                </figcaption>            
	              </figure>
	            </div>
	            {% empty %}
	            	No data found
	            {% endfor %}
	          </div>
        	</div>
        	<div class="movie-songs">
          	<div id="title" class="movie-team song-lirics">
          		<h4>Related Movies to {{ movie|title }} </h4>
          	</div>
          	<div class="movie-team">
            {% for rmovie in movie.related_movies %}
          		<!-- movie -->
          		<div class="song-effect">
	              <figure class="team-member">
	                <a href="{%url 'wiki:movie' slug=rmovie.slug %}">
                    <img src="{{ rmovie.image }}" alt="{{ rmovie }} movie details & team">
                  </a>
	                <figcaption class="view-caption">
	                  <div class="info">
	                    <p><a href="{%url 'wiki:movie' slug=rmovie.slug %}">View Movie {{ rmovie }}</a></p>
	                  </div>
	                </figcaption>            
	              </figure>
	            </div>
            {% endfor %}
	          </div>
        	</div>
        </div>
{% endblock %}
{% block javascript %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function(){
     $("#myCarousel").carousel();
});
</script>
<!-- seo -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Movie",
  "actor": [
  {% for person in movie.team.all %}  
    {
      "@type": "Person",
      "name": "{{ person }}"
    }{% if not forloop.last %},{% endif %}
  {% endfor %}
  ],
  "aggregateRating": {
    "@type": "AggregateRating",
    "bestRating": "5",
    "ratingCount": "200",
    "ratingValue": "{{ movie.rating }}",
    "reviewCount": "50"
  },
  "author": [
    {
      "@type": "Person",
      "name": "{{ movie.producer }}"
    }
  ],
  "description": "{{ movie.about }}",
  "director": {
    "@type": "Person",
    "name": "{{ movie.director }}"
  },
  "name": "{{ movie }} - {{ movie.released_on }}",
  "image": {
    "@context": "http://schema.org",
    "@type": "ImageObject",
    "author": "{{ movie.producer }}",
    "contentLocation": "{{ movie.location }}, {{ movie.country }}",
    "url": "{{ movie.image }}",
    "datePublished": "{{ movie.released_on|date:'Y-m-d' }}",
    "description": "{{ movie.about|truncatechars:300 }}",
    "name": "{{ movie }}"
  },
  "dateCreated": "{{ movie.updated_on|date:'Y-m-d' }}"
}
</script>
{% endblock %}