{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ person.name|title }} involved movies | Biography | Awards & Nominations
{% endblock %}

{% block seo_meta %}
  <meta name="keywords" content="{{ person.name }}, biography, fact file, photo gallery, wallpapers, videos, news, movie stills, images, pictures, pics, filmography, awards, polls, quiz, movies, film, cinema,  movie, cast, updates, celebrity, upcoming movies, latest flicks, interview, candid, gossips, rumors, internet movie database, review">
  <meta name="description" content="{{ person.description }}">
  <meta name="title" content="Cinema-Wiki">

  <!-- twitter -->
  <meta name="twitter:card" content="Cinema-Wiki" />
  <meta name="twitter:site" content="@CinemaWiki" />
  <meta name="twitter:creator" content="@CinemaWiki" />
  
  <!--/end  -->
 
  <!-- facebook -->
  <meta property="og:description" content="{{ person.name }}, biography, fact file, photo gallery, wallpapers, videos, news, movie stills, images, pictures, pics, filmography, awards, polls, quiz, movies, film, cinema,  movie, cast, updates, celebrity, upcoming movies, latest flicks, interview, candid, gossips, rumors, internet movie database, review">
  <meta name="description" content="{{ person.description }}" />
  <meta property="og:image" content="{{ request.get_host }}{%static 'images/favicon.ico' %}" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Cinema-Wiki" />
  <meta name="description" content="{{ person.description }}">
  <meta property="og:image" content="{{ request.get_host }}{%static 'images/favicon.ico' %}" />
  <!--/end  -->
{% endblock %}

{% block content %}
<div class="col-md-8">
  <!-- carousel -->
  <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
      {% for image in person.images %}
        <div class="{% if forloop.first %}active{% endif %} item">
            <img src="{{ image.url }}" alt="{{ image.alternate_text }}">
        </div>
      {% empty %}
        No data found
      {% endfor %}
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <!-- end -->
  <div class="movie-details">
    <table class="table table-bordered">
      <tbody>
        <tr>
        	<th colspan="4">
        		<h1> {{ person.name|title }} Profile </h1>
    		</th>
		</tr>
        <tr>
          <th>Name</th>
          <td>{{ person.name|title }}</td>
          <th>Date of Birth</th>
          <td>{{ person.dob }}</td>
        </tr>
        <tr>
          <th>Languages Known</th>
          <td>{{ person.languages_known }}</td>
          <th>Country</th>
          <td>{{ person.country }}</td>
        </tr>
        <tr>
          <th>Height</th>
          <td>{{ person.height }}</td>
          <th>Nick Names</th>
          <td>{{ person.nick_names }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- awards and nominations -->
  <div class="movie-details">
    <table class="table table-bordered">
      <thead>
        <tr><th colspan="3"> <h2> Awards & Nominations </h2></th></tr>
      </thead>	
      <tbody>
      {% for award in person.awards.all %}
        <tr>
          <th>{{ award.movie }}</th>
          <td>{{ award.title }}</td>
          <td>{{ award.status }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div> 
 <!-- biography -->
  <div class="actors_technicians">
  	<div id="movie-team-title" class="movie-team song-lirics">
  		<h3> {{ person }} Biography  </h3>
  	</div>
  	<div class="movie-team biography">
		  {{ person.biography|safe }}
    </div>
  </div>
	<!-- movies list  -->
	<div class="movie-songs">
  	<div id="title" class="movie-team song-lirics">
  	  <h4> Movies Involved by {{ person }} </h4>
  	</div>
  	<div class="movie-team">
    {% for movie in person.movies.all %}
  		<!-- movies -->
  		<div class="song-effect">
        <figure class="team-member">
          <a href="{% url 'wiki:movie' slug=movie.slug %}"><img src="{{ movie.image }}" alt="{{ person }} movie {{ movie }}"></a>
          <figcaption class="view-caption">
            <div class="info">
              <p><a href="{% url 'wiki:movie' slug=movie.slug %}">View Movie {{ movie }}</a></p>
            </div>
          </figcaption>            
        </figure>
      </div>
    {% endfor %}
	  </div>
  </div>
	<!-- other related actors -->
	<div class="movie-songs">
    	<div id="title" class="movie-team song-lirics">
    		<h5>Actors Related to {{ person }} </h5>
    	</div>
    	<div class="movie-team">
      {% for person in person.related_persons %}
        <!-- movie -->
        <div class="song-effect">
          <figure class="team-member">
            <a href="{% url 'wiki:person' slug=rperson.slug %}"><img src="{{ rperson.image }}" alt="{{ rperson }} movies awards & biography"></a>
            <figcaption class="view-caption">
              <div class="info">
                <p><a href="{%url 'wiki:person' slug=rperson.slug %}">View {{ person }} Profile</a></p>
              </div>
            </figcaption>            
          </figure>
        </div>
      {% endfor %}
      </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function(){
     $("#myCarousel").carousel();
});
</script>
<!-- seo -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "description": "{{ person.description }}",
  "jobTitle": "{{ person.role }}",
  "gender": "{{ person.gender }}",
  "height": "{{ person.height }}",
  "birthDate": "{{ person.dob|date:'Y-m-d' }}",
  "name": "{{ person.name }}",
  "image": {
    "@context": "http://schema.org",
    "@type": "ImageObject",
    "url": "{{ person.image }}",
    "description": "{{ person.description }}",
    "name": "{{ person.name }}"
  }
}
</script>
{% endblock %}