{% extends "base.html" %}
{% block content %}
<div class="col-md-8 movies">
<h1>Privacy Policy of cinema-wiki.herokuapp.com</h1>
<p>Our privacy team has taken all the steps needed to give more user experience for those who visit our website as well as give complete safety and take care not to misuse or misplace the interests and browser navigation to 3rd party which is in the form of cookies. These are the part of data collected from the user navigation throughout the website until he left the site.</p>

<h2>Cookies:</h2>
<p>The browsers will collect the information from the particular visitor and analyze what is his/ her interest and what he has done while visiting the site. So based on that, the information we will provide the user specific information, advertisements, and related data at the end of the content. These are called cookies data. We are guarantee that we just make your browsing and experience while visiting our website more interesting and specific to your needs. Apart from that we nowhere use this cookie information to disturb you in any manner.</p>

<h2>Subscriptions & Email News Letters:</h2>
<p>The user privacy is more important for us. We also provide the subscribe option for our website. This helps you to get the emails in a periodic basis which helps you to get the updates on your interesting topics of our website once we publish them. So here you may provide the information like email, name etc details in the subscription form. These details are confidential and as we know this fact, we do not leak these details to any other party for any other purpose. We keep your data with us and we provide the unsubscribe link in the each email at the bottom, you have the option to unsubscribe and stop receiving the information from us at any point of time.</p>

<h2>External Links:</h2>
<p>We use external links which directs you to the other official web pages and 3rd party sites. We give no guaranty of their internal issues and their activities other than the purpose of linking them for a specific purpose as we described them. We have no guaranty of their server up all the time and at the time we give external link in our web page, the site is up. Later activities done by them are not informed to us and we are not responsible for them.
We also embed images or videos from third party websites we don't have any copyrights on the media we embed.</p>

<h2>Advertisements & Sponsored Links:</h2>
<p>We provide advertisements in our websites of 3rd party. You should know and read their websites carefully before doing any activity in their sites. We give no guarantee on their customer support or validity of their service. You need to talk to them on each and every thing happens in between you.</p>

<p>We also place Google ads in our website. The third party clients will provide these ads and Google network works behind this and finally we place the ads in the pages of our website. So if anybody interested in the clients proposals, you can go with them. In this case also you need to get clarity on the specific service with them only. We just use the incomes from these advertisements to just improve ourselves to serve you in better way as well as to feed our family.</p>


<h2>Social Media:</h2>
<p>We also promote our content in the top most social media sites like facebook, twitter, google+ etc. We just intended towards the awareness of our pages which are helpful for the end users. We do not charge for the content from any of the visitors of our websites. You can read it and like the page.</p>

<p>This privacy policy may change at any time. By using our site you are agreed to our terms and conditions.</p>
</div>
{% endblock %}
{% block advertisement %}
  <div class="container">
    <img src="https://rukminim1.flixcart.com/image/832/832/trouser/a/k/h/utp-iv-live-in-44-original-imaehxdrvvkpjxvr.jpeg?q=70">
  </div>
{% endblock %}