{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="col-md-8 movies search">
  {% if movies %}
    <div class="col-md-12"><h3>Movies related to search</h3></div>
    {% for movie in movies %}
      <!-- movie -->
      <div class="col-md-4 movie">
        <a href="{% url 'wiki:movie' slug=movie.slug %}">
        <img src="{{ movie.image }}"></a>
      </div>
    {% endfor %}
  {% endif %}

  {% if persons %}
    <div class="col-md-12"><h3>People related to search</h3></div>
    {% for person in persons %}
      <!-- movie -->
      <div class="col-md-4 movie">
        <a href="{% url 'wiki:person' slug=person.slug %}">
        <img src="{{ person.image }}"></a>
      </div>
    {% endfor %}
  {% endif %}

  {% if songs %}
    <div class="col-md-12"><h3>Songs related to search</h3></div>
    {% for song in songs %}
      <!-- movie -->
      <div class="col-md-4 movie">
        <a href="{% url 'wiki:song' slug=song.slug movie_slug=song.movie.slug %}">
        <img src="{{ song.image }}"></a>
      </div>
    {% endfor %}
  {% endif %}
  {% if not movies and not  persons and not songs %}
  <!-- error mesage -->
  <div class="col-md-offset-3 search-not-found">
    <img src="{% static 'images/not-found.png' %}">
    <h3>No Results found</h3>
  </h1></div>
  {% endif %}
  </div>
{% endblock %}