{% extends "base.html" %}
{% block content %}
<div class="col-md-8">
  <div class="col-md-12 song-image">
    <img src="http://4.bp.blogspot.com/-D88v4KtEc2I/VW1qJOgtipI/AAAAAAAARkk/kWuep3oWwz0/s1600/baahubali-hd-poster.jpg" alt="Bahubali manohari song" >
  </div>
  <div class="song-details">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th colspan="2" class="text-center">
            <h1> Manohari Song Details - Bahubali </h1>
          </th>
        </tr>
        <tr>
          <th> Song Title </th>
          <td> Manohari </td>
        </tr>
        <tr>
          <th> Music Director </th>
          <td> M M Keeravani </td>
        </tr>
        <tr>
          <th> Singers </th>
          <td> Mohana Bhogaraju, Revanth </td>
        </tr>
        <tr>
          <th> Lyrics </th>
          <td> Chaitanya Prasad </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actors_technicians">
    <div class="movie-team song-lirics">
      <h2>Manohari Song Lyrics in bahubali</h2>
    </div>
    <div class="song-lirics">
 <p>Irrukupo hathukunni veera veera<br/> Korukkupo ni thanivi thirra thirra<br/> Thonakka benakka vayasu theralni<br/> Thiyra thiyra<br/> Ulakka palakka dhudukku panedho<br/> Chayra chayra<br/> Manohari.. Manohari..</p><p>Thenalonna nanni unna dhraksha palla guthila<br/> Matalanni mathugunnave<br/> Inthalesi kallu unna inthulantha cheri<br/> Ventapadithey vinthagunadhe<br/> Olluantha thullintha<br/> Ee vintha kavintha lela baala</p><p>Irrukupo hathukunni veera veera<br/> Korukkupo ni thanivi thirra thirra</p>
    </div>
    </div>
  <div class="movie-songs">
    <div id="title" class="movie-team song-lirics">
      <h3>Other Songs in Bahubali</h3>
    </div>
    <div class="movie-team">
      <!-- song -->
      <div class="song-effect">
        <figure class="team-member">
          <a href="#"><img src="https://i.ytimg.com/vi/ZXhxoi9L-N4/maxresdefault.jpg" alt="img"></a>
          <figcaption class="view-caption">
            <div class="info">
              <p>View Song</p>
            </div>
          </figcaption>            
        </figure>
      </div>
      <!-- song -->
      <div class="song-effect">
        <figure class="team-member">
          <a href="#"><img src="https://i.ytimg.com/vi/ZXhxoi9L-N4/maxresdefault.jpg" alt="img"></a>
          <figcaption class="view-caption">
            <div class="info">
              <p>View Song</p>
            </div>
          </figcaption>            
        </figure>
      </div>
      <!-- song -->
      <div class="song-effect">
        <figure class="team-member">
          <a href="#"><img src="https://i.ytimg.com/vi/ZXhxoi9L-N4/maxresdefault.jpg" alt="img"></a>
          <figcaption class="view-caption">
            <div class="info">
              <p>View Song</p>
            </div>
          </figcaption>            
        </figure>
      </div>
      <!-- song -->
      <div class="song-effect">
        <figure class="team-member">
          <a href="#"><img src="https://i.ytimg.com/vi/ZXhxoi9L-N4/maxresdefault.jpg" alt="img"></a>
          <figcaption class="view-caption">
            <div class="info">
              <p>View Song</p>
            </div>
          </figcaption>            
        </figure>
      </div>
      <!-- song -->
      <div class="song-effect">
        <figure class="team-member">
          <a href="#"><img src="https://i.ytimg.com/vi/ZXhxoi9L-N4/maxresdefault.jpg" alt="img"></a>
          <figcaption class="view-caption">
            <div class="info">
              <p>View Song</p>
            </div>
          </figcaption>            
        </figure>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block advertisement %}
  <div class="container">
    <img src="https://rukminim1.flixcart.com/image/832/832/trouser/a/k/h/utp-iv-live-in-44-original-imaehxdrvvkpjxvr.jpeg?q=70">
  </div>
{% endblock %}