{% extends "base.html" %}
{% load static %}
{% block seo_meta %}
  <meta name="keywords" content="{{ song.title }} lyrics from {{ song.movie }} songs. {% for md in song.music_directors.all %} {{md}}, {% endfor%} composed music with lyrics by {% for writers in song.writers.all %} {{writers}}, {% endfor%}.">
  <meta name="description" content="{{ song.description }}">
  <meta name="title" content="Cinema-Wiki">

  <!-- twitter -->
  <meta name="twitter:card" content="Cinema-Wiki" />
  <meta name="twitter:site" content="@CinemaWiki" />
  <meta name="twitter:creator" content="@CinemaWiki" />
  
  <!--/end  -->
 
  <!-- facebook -->
  <meta property="og:description" content="{{ song.description }}" />
  <meta property="og:image" content="{{ request.get_host }}{%static 'images/favicon.ico' %}" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Cinema-Wiki" />
  <meta name="description" content="{{ song.description }}">
  <meta property="og:image" content="{{ request.get_host }}{%static 'images/favicon.ico' %}" />
  <!--/end  -->
{% endblock %}

{% block content %}
<div class="col-md-8">
  <div class="col-md-12 song-image">
    <img src="{{ song.image }}" alt="{{ song.movie }} {{ song }} song" >
  </div>
  <div class="song-details">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th colspan="2" class="text-center">
            <h1> {{ song|title }} Song Details - {{ song.movie }} </h1>
          </th>
        </tr>
        <tr>
          <th> Song Title </th>
          <td> {{ song }} </td>
        </tr>
        <tr>
          <th> Music Director </th>
          <td>
            {% for md in song.music_directors.all %}
            <a>{{ md }}</a>{% if not forloop.last%},{% endif %}
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th> Singers </th>
          <td>
            {% for md in song.singers.all %}
              <a>{{ md }}</a> {% if not forloop.last%},{% endif %}
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th> Lyrics </th>
          <td>
            {% for writer in song.writers.all %}
              <a>{{ writer }}</a> {% if not forloop.last%},{% endif %}
            {% endfor %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="actors_technicians">
    <div class="movie-team song-lirics">
      <h2>{{ song|title }} Song Lyrics in bahubali</h2>
    </div>
    <div class="song-lirics">
      {{ song.lyrics|safe }}
    </div>
    </div>
  <div class="movie-songs">
    <div id="title" class="movie-team song-lirics">
      <h3>Other Songs in {{ song.movie }}</h3>
    </div>
    <div class="movie-team">
    {% for msong in song.get_related_songs %}
      <!-- song -->
      <div class="song-effect">
        <figure class="team-member">
          <a href="{{ msong.get_absolute_url }}"><img src="{{ msong.image }}" alt="{{ msong }} song in {{ msong.movie }}"></a>
          <figcaption class="view-caption">
            <div class="info">
              <p><a href="{{ msong.get_absolute_url }}">View {{ msong }} Song</a></p>
            </div>
          </figcaption>            
        </figure>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "MusicGroup",
    "name": "{{ song.title }}",
    "description": "{{ song.description }}",
    "genre": "Rock",
    "album": {
        "@type": "MusicAlbum",
        "name": "{{ song.movie }}",
        "alternateName": "{{ song.movie }}"
    },
    "member": [
      {% for music_director in song.music_directors.all %}
      {
        "@type": "OrganizationRole",
        "member": {
          "@type": "Person",
          "name": "{{ music_director }}"
        },
        "roleName": ["director"]
      },
      {% endfor %}
      {% for singer in song.singers.all %}
      {
        "@type": "OrganizationRole",
        "member": {
          "@type": "Person",
          "name": "{{ singer }}"
        },
        "roleName": ["singer"]
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ]
}
</script>
{% endblock %}