{% extends "base.html" %}
{% block content %}
<div class="col-md-8 movies" style="padding:20px;">
<h1><u>Terms & Conditions cinema-wiki.herokuapp.com</u></h1>
Hi All,
<p>Welcome to our website first of all and here is the terms & Conditions for the usage of our website. Yu please go through all the points mentioned below for the sake of better understanding of how we expect the response from the visitors of our website and their experiences while browsing through content provided in it.</p>

<p>You please make a note on the below points and then decide yourself whether to proceed with our website or not.</p>

<p>We write the content related to movies and celebrities. We collect the information from internet and news papers.
We do not guarantee on accuracy, performance, timeliness, suitability or completeness of the information.</p>

<p>We embed images or videos from third party websites we don't have any copyrights on the media we embed.
We try to provide better content day by day. We work towards give best performance of our website which helps our visitors to get benefited from it. If anybody feels the content or material belongs to them, feel free to write us. We will take actions on it immediately.</p>

<p>This privacy policy may change at any time. By using our site you are agreed to our terms and conditions.</p>

<p>Thanks for your co-operation.</p>
</div>
{% endblock %}
